@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 70px;
    font-family: 'Varela Round', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("fon.jpg");
}

.area {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-direction: column;
}

.sector {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    font-weight: 900;
    justify-content: center;
    font-size: 70px;
    cursor: pointer;
    color:blanchedalmond;
}

.sector:hover {
    border: 2px solid rgb(144, 197, 190);
}

.win {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.win__block {
    display: flex;
    padding-left: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.step {
    display: flex;
    align-items: center;
    justify-content: center;
}

.step__now {
    display: flex;
    padding-left: 20px;
    align-items: center;
    justify-content: center;
}

.reload {
    padding: 10px;
    margin-top: 30px;
    font-size: 30px;
    border: 1px solid rgb(170, 167, 167);
    outline: none;
    cursor: pointer;
    background: rgb(170, 167, 167);
    box-shadow: 5px 3px 10px 3px rgb(200, 199, 199);
    transition-duration: 0.5s;
    margin-bottom: 30px;
}

.reload:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}
@media (max-width: 900px) {
    *{
        font-size: 30px;
    }
  }